body {
    background-color: #F2F6F8;
}

.body {
    background-color: #F2F6F8;
}

.imgCarrusel{
    filter: brightness(0.5);
    width:100%; 
    height:auto;
}

.link-body-emphasis:hover .link-text,
.link-body-emphasis:hover i {
    transform: scale(1.4);
    /* Puedes ajustar el valor según lo deseado */
    transition: transform 1s ease;
    /* Agrega una transición suave */
}

.negro {
    color: black;
}

.centradoNombre {
    margin: 20%;
}

.centradoInfo {
    margin: 2% 10% 5% 10%;
    text-align: center;
}

.datosRedes {
    margin: 10% 30% 10% 30%;
}

.tamañoFotoIcono {
    font-size: 50px;
    margin: 5%;
}

.card {
    height: 350px;
    width: auto;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* .card{
    width: 95%;
    height: 95%;
}
.card:hover{
    width: 100%;
    height: 100%;
} */

.tamañoIcono {
    margin: 4%;
    margin-left: 45%;
    font-size: 50px;
    color: #99B2B7;
    transition: 1s all;
}

.alinearDato {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.tamañoIcono:hover {
    color: #000000;
    /* width: 200px;
    height: 200px; */
}

.cuadroIconos {
    font-size: 35px;
    margin: 7% 7% 10% 7%;
}

.social-icon {
    color: #ffffff;
    margin-right: 10%;
    margin-top: 5%;
    display: inline-block;
    vertical-align: middle;
    transition: 0.5s all;
}

.social-icon:hover {
    color: #000000;
    /* width: 200px;
    height: 200px; */
}

.fondoDatoTarjeta {
    background-color: #DBD7D7;
}

.fondoDatoTarjeta {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    height: 100%;
}

.fondoDatoTarjeta:hover {
    transform: scale(1.05);
}

.centrarTexto {
    text-align: center;
}

.fondoDato {
    background-color: #DBD7D7;
}

.fondoDato {
    border: 2px solid rgb(179, 179, 179);
    transition: background-color 1s ease
}

.fondoDato:hover {
    border-color: rgb(179, 179, 179);
    background-color: rgb(179, 179, 179);
}

.reseñas {
    max-width: 500px;
    margin: auto;
}



/* Modals Inicio de sesion */
/* Cambiar el color de fondo del modal */
.modal-content {
    background-color: #DBD7D7;
}

.modal-footer {
    display: flex;
    flex-direction: column;

}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    flex-direction: column;
}

.centrarTextoModal {
    text-align: center;
}

.centrarCuadroCheck {
    padding-left: 24%;
}


/* crea tu viaje  */

.highlight{
    width: 90%;
    height: 10%; 
     margin-left: 50px;
     background-color: #eaeaeac7;
     margin-top: 4%;
     border-radius: 20px;

     
    }
    .highlight-title{
        margin-left: 35%;
        position:relative;
        align-items: center;
        padding-top: 5%;
        font-family: sans-serif;
        font-weight: 100%;
        }
        
    .highlight-text{
        font-weight: 20;
        margin-top: 50px;
        font-size: 95%;
        text-align: justify;
        margin: 30px;
        }

    .btn-secondary{
        margin-left: 45%;   
        margin-top: 1%;
        margin-bottom: 2%;
    }
    
    