
/* inicio estilos mis viajes*/
.targeta{
    text-align: center;
    height: 95%;
    width: auto;
    margin-top: 15%;
    margin-inline-end: 15%;
}
.img{
    height: 180%;
    width: 200%;
}
/* estilos modal */
 