body {
    background-color: #F2F6F8;
}

.body {
    background-color: #F2F6F8;
}

.link-body-emphasis:hover .link-text,
.link-body-emphasis:hover i {
    transform: scale(1.4);
    /* Puedes ajustar el valor según lo deseado */
    transition: transform 1s ease;
    /* Agrega una transición suave */
}

.negro {
    color: black;
}

.centradoNombre {
    margin: 20%;
}

.centradoInfo {
    margin: 2% 10% 5% 10%;
    text-align: center;
}

.datosRedes {
    margin: 10% 30% 10% 30%;
}


.card {
    height: 250px;
    width: auto;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* .card{
    width: 95%;
    height: 95%;
}
.card:hover{
    width: 100%;
    height: 100%;
} */

.tamañoIcono {
    margin: 4%;
    margin-left: 45%;
    font-size: 50px;
    color: #99B2B7;
    transition: 1s all;
}

.alinearDato {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.tamañoIcono:hover {
    color: #000000;
    /* width: 200px;
    height: 200px; */
}

.cuadroIconos {
    font-size: 35px;
    margin: 7% 7% 10% 7%;
}

.social-icon {
    color: #ffffff;
    margin-right: 10%;
    margin-top: 5%;
    display: inline-block;
    vertical-align: middle;
    transition: 0.5s all;
}

.social-icon:hover {
    color: #ffffff;
    /* width: 200px;
    height: 200px; */
}

.fondoDatoTarjeta {
    background-color: #DBD7D7;
}

.fondoDatoTarjeta {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    height: 100%;
}

.fondoDatoTarjeta:hover {
    transform: scale(1.05);
}

.centrarTexto {
    text-align: center;
}

.fondoDato {
    background-color: #DBD7D7;
}

.fondoDato {
    border: 2px solid rgb(179, 179, 179);
    transition: background-color 1s ease
}

.fondoDato:hover {
    border-color: rgb(179, 179, 179);
    background-color: rgb(179, 179, 179);
}

.reseñas {
    max-width: 500px;
    margin: auto;
}

.paquetesTarjetas {
    text-align: left;
}

.container-fluid {
    margin-top: 100px;
    margin-bottom: 30px;
}

img {
    border-radius: 5%;
}

div.ml-3>img {
    margin-left: 80px;
}




/* Modals */
/* Cambiar el color de fondo del modal */
.modal-content {
    background-color: #DBD7D7;
}

.modal-footer {
    display: flex;
    flex-direction: column;

}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    flex-direction: column;
}

.centrarTextoModal {
    text-align: center;
}

.centrarCuadroCheck {
    padding-left: 24%;
}

.tarjeta-paquete {
    margin-bottom: 2%;
}

.filtroCheck{
        padding-left: 0.5rem;
}

/* footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.social_icon {
    list-style: none;
    padding: 0;
}

.social_icon li {
    display: inline-block;
    margin-right: 2%; 
}

.social_icon li:last-child {
    margin-right: 0; 
}

.social-icon {
    font-size: 32px; 
    color: #fff; /* Color blanco */
    text-decoration: none;
    transition: transform 0.3s;
}

.social-icon:hover {
    transform: scale(1.5);
}

p {
    margin: 0 10px 0 10px; 
}

.centrado{
    text-align: center;
}

/* filter */

/* Estilos generales */
.row {
    display: flex;
  }
  
  .filtro-lista {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    flex: 0 0 auto; /* Evita que se expanda */
  }
  
  .filtro-group {
    margin-bottom: 20px;
  }
  
  .filtro-group h6 {
    margin-top: 0;
  }
  
  .filtroCheck {
    list-style: none;
    padding: 0;
  }
  
  .filtroCheck li {
    margin-bottom: 5px;
  }
  
  /* Estilos para los checkboxes */
  .filtroCheck input[type="checkbox"] {
    display: none;
  }
  
  .filtroCheck label {
    display: inline-block;
    cursor: pointer;
    padding: 1% 10%;
    border-radius: 5px;
    background-color: #ddd;
  }
  
  .filtroCheck input[type="checkbox"]:checked + label {
    background-color: #007bff;
    color: #fff;
  }
  .filtro-lista {
    border-radius: 10px;
    width: 200px;
    background-color: #babdbe;
    padding: 20px;
    border-right: 1px solid #dee2e6;
    margin-right: 20px;
  }  