

/* inicio estilos InformacionPersonal */

/* Estilos generales */

 .row {
  display: flex;  /* Contenedor de fila usa flexbox */
}

  .containerInformacion {
    margin-left: 70%;
    border: 1px solid #ccc;
    border-radius: 4%;
    width: 60%;
    margin-block-start: 5%;
    margin-block-end: 5%;
    
  }
  
  /* Encabezado */
  
  .info {
    /* background-color: powderblue;   */
    color: #0a0a0a;
    padding: 5%;
    text-align: center;
   
  }

  h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  /* fin de Encabezado */

   /* Inicio de containerInformacionPersonal */

  .modalOpciones{
    text-align: center;
  }

  .informacion-personal {
    /* display: flex; */
    flex-wrap: wrap;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-top: 1px solid #ccc;
  }
  
  .foto {
    align-items: center;
  }
  
  .foto img {
    width: 30%;
    height: 150%;
    border-radius: 100%;
  }
  
  .foto p {
    font-size: 99%;
    color: #999;
  }
  
  a {
    background-color: powderblue;
    transition: background-color 0.5s;
  }
  
  a:hover {
    background-color: rgb(145, 221, 240);
  }
  
  
  /* Opciones */
  
  .modalOpciones {
    justify-content: space-around;
    border-top: 1px solid #ccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  /* Pie de página */
  
  footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #ccc;
  }


  /* Fin estilos containerInformacionPersonal */
 .button{
  background-color: #c2e7f0;
 }